.footer {
  display: flex;
  flex: 2;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  color:  rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
  padding-bottom: 2.25rem;
  z-index: 10;
}
