.main {
  background: var(--main-background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* gap: 0.5rem; */
  /* width: 100%; */
  /* border: 1px solid lightblue; */
}

.version {
  width: 100%;
  height: 1.75rem;
  background-color: var(--primary-green-secondary);
  color: var(--primary-green);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}
.map {
  margin-top: 1rem;
  width: 100%;
  height: 10rem;
  border-radius: 0.5rem;
}
.maploading {
  border: 1px solid #d3d3d3;
  height: 12rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.data {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* border: 1px solid blue; */
}

.messageModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 11rem;
  width: 100%;
  background-color: transparent;
  position: fixed;
  bottom: 1rem;
  z-index: 50;
  border-radius: 0.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
