.heat {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color:rgb(220, 227, 234);
  height: 100vh;
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 16px;
}
.timer {
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
}
.inputContainer {
  position: relative;
  width: 100%;
}
.info {
  font-size: 14px;
  color: var(--primary/60);
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.searchInput {
  width: 100%;
  padding: 8px 12px;
  padding-right: 40px; /* Space for the icon */
  font-size: 13px;
  border-radius: 8px;
  box-sizing: border-box;
  height: 48px;
  border-color: transparent;
}

.inputIcon {
  position: absolute;
  top: 50%;
  right: 12px; /* Adjust based on your design */
  transform: translateY(-50%);
  pointer-events: none; /* Prevent the icon from blocking input clicks */
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  margin-top: 8px 0;
  width: 100%;
}

.riderGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.active,.finishers {
  margin-top: 12px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(41,48,66,0.6);
  /* text-align: center; */
}

.ridersWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between grids */
  margin-top: 16px;
  /* height: 100svh; */
  height: 450px;
  overflow-y: auto;
}
/* .manageHeat {
   padding: 16px;
   font-family: Arial, sans-serif;
 }
 
 .header {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 .backButton {
   background: none;
   border: none;
   font-size: 18px;
   cursor: pointer;
 }
 
 .timer {
   font-size: 24px;
   font-weight: bold;
 }
 
 .searchWrapper {
   margin: 16px 0;
   display: flex;
   gap: 8px;
 }
 
 .searchInput {
   flex: 1;
   padding: 8px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 8px;
 }
 
 .filterIcon {
   background: none;
   border: none;
   cursor: pointer;
   font-size: 24px;
 }
 
 .riderGrid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
   gap: 12px;
 }
 
 .riderCard {
   background: #f4f4f4;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 8px;
   text-align: center;
   cursor: pointer;
   transition: background 0.3s;
 }
 
 .riderCard:hover {
   background: #ddd;
 }
 
 .riderCard.finished {
   background: white;
   border-top: 1px solid black;
   cursor: default;
 }
 
 .toast {
   position: fixed;
   bottom: 16px;
   left: 16px;
   right: 16px;
   background: #000;
   color: #fff;
   padding: 12px;
   border-radius: 8px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
  */
